[user]
    name=John L Conway IV
    email=John.Conway@EffectiveSoftware.net
[core]
    editor=vim
[color]
    ui=auto
    diff=auto
    status=auto
    branch=auto
[alias]
    plog=log --graph
    changed=show --name-status --pretty
[format]
    pretty=format:%C(yellow)%h%Creset %C(magenta)%ad%Creset %Cblue%an%Creset %s
[log]
    date=relative
